body {
	margin: 0;
	text-align: center;
	font-family: Lato;
	font-size: 3em;
	background: #111;
	height: auto;
}


button {
	background: transparent;
	border: none;
	height: 1.5em;
	width: 1.5em;
	border-radius: 999px;
	font-size: 1em;
	outline: none;
	color: purple;
}

.carousel {
	margin: 2em auto;
	max-width: 800px;
	position: relative;
}

.carousel-item {
	display: none;
}

.carousel-item.show {
	display: block;
	animation: fadeVisibility 1s;
}

.carousel-actions {
	display: flex;
	position: absolute;
	width: 100%;
	top: 50%;
	justify-content: space-between;
	transform: translateY(-50%);
}

#prev-btn {
	margin-left: 1px;
}

#next-btn {
	margin-right: 1px;
}

.carousel-indicators {
	display: flex;
	position: absolute;
	width: 100%;
	justify-content: center;
}

.indicators {
	font-size: 15px;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}